<h1>Add A New Picture</h1>

<!-- <a href="http://localhost:3000/pictures">Back</a> -->
<%= link_to "Back", "http://localhost:3000/pictures" %>

<form action="/pictures" method="post">
  Image URL: <input type="text" name="source">
  Caption: <input type="text" name="caption">
  Favorite? <input type="checkbox" name="favorite">
  <input type="submit" name="submit">
</form>
